# Chapter 2-4 Homework

## 2-1

In [18]:
# Rebecca 9/24 - Simple Message
message = "I've already done this"
print(message)

I've already done this

2-2

In [19]:
# Rebecca 9/24 - Simple Messages
message = "message 1"
print(message)

message 1

In [2]:
message = "message 2"
print(message)

message 2

# 2-3

In [20]:
# Rebecca 9/24 - Personal Message
name = "Rebecca"

In [8]:
print("Hello " + name.title())

Hello Rebecca

# 2-4

In [9]:
# Rebecca 9/24 - Name Cases
name = "Rebecca"

In [10]:
print(name.upper())

REBECCA

In [11]:
print(name.lower())

rebecca

In [12]:
print(name.title())

Rebecca

# 2-5

In [13]:
# Rebecca 9/24 - Famous Quote
name = "Oscar Wilde"

In [14]:
message = ""The books that the world calls immoral are books that show the world its own shame.""

SyntaxError: invalid syntax (1071715357.py, line 1)

In [15]:
message = "“The books that the world calls immoral are books that show the world its own shame.”"

In [16]:
print(name + " once said " + message)

Oscar Wilde once said “The books that the world calls immoral are books that show the world its own shame.”

# 2-6

In [21]:
# Rebecca 9/24 - Famous Quote 2
famous_person = "Oscar Wilde"

In [1]:
message = "“The books that the world calls immoral are books that show the world its own shame.”"

In [2]:
print(famous_person + " once said " + message)

NameError: name 'famous_person' is not defined

In [3]:
famous_person = "Oscar Wilde"

In [4]:
print(famous_person + "once said “The books that the world calls immoral are books that show the world its own shame.”")

Oscar Wildeonce said “The books that the world calls immoral are books that show the world its own shame.”

# 2-7

In [22]:
# Rebecca 9/24 - Stripping Names
print("Rebecca")

Rebecca

In [8]:
print("\tRebecca")

	Rebecca

In [10]:
print("Rebecca\nRebecca")

Rebecca
Rebecca

In [11]:
print("  Rebecca  ")

  Rebecca

In [13]:
name = "  Rebecca  "
print(name)

  Rebecca

In [14]:
name.rstrip()

'  Rebecca'

In [15]:
name.lstrip()

'Rebecca  '

In [16]:
name.strip()

'Rebecca'

# 2-10

In [23]:
# Rebecca 9/24 - Comments

# 3-1

In [24]:
friends = ['zoe', 'josh', 'grace', 'joe']

In [25]:
print(friends)

['zoe', 'josh', 'grace', 'joe']

In [28]:
print(friends[0])

zoe

In [29]:
print(friends[1])

josh

In [30]:
print(friends[2])

grace

In [31]:
print(friends[3])

joe

# 3-2

In [32]:
friends = ['zoe', 'josh', 'grace', 'joe']

In [34]:
print("Hello, " + friends[0].title() + ", how are you?")

Hello, Zoe, how are you?

In [35]:
print("Hello, " + friends[1].title() + ", how are you?")

Hello, Josh, how are you?

In [36]:
print("Hello, " + friends[2].title() + ", how are you?")

Hello, Grace, how are you?

In [37]:
print("Hello, " + friends[3].title() + ", how are you?")

Hello, Joe, how are you?

# 3-3

In [38]:
car = ['honda', 'hiundai', 'ford', 'tesla']

In [40]:
print("My uncle has a " + car[0].title() + ".")

My uncle has a Honda.

In [41]:
print("My mom has a " + car[1].title() + ".")

My mom has a Hiundai.

In [43]:
print("I would like a " + car[2].title() + ".")

I would like a Ford.

In [44]:
print("But I would prefer a " + car[3].title() + ".")

But I would prefer a Tesla.

In [45]:
message = "But I would prefer a " + car[3].title() + "."

In [46]:
print(message)

But I would prefer a Tesla.

# 3-4

In [47]:
guests = ['Oscar Wilde', 'Jane Austin', 'Ocean Vuong', 'Carmen Maria Machado']

In [48]:
message = guests[1] + ", would you like to come to dinner on Sunday?"

In [49]:
print(message)

Jane Austin, would you like to come to dinner on Sunday?

In [51]:
message = guests[0] + ", would you like to come to dinner on Sunday?"
print(message)

Oscar Wilde, would you like to come to dinner on Sunday?

In [52]:
message = guests[2] + ", would you like to come to dinner on Sunday?"
print(message)

Ocean Vuong, would you like to come to dinner on Sunday?

In [53]:
message = guests[3] + ", would you like to come to dinner on Sunday?"
print(message)

Carmen Maria Machado, would you like to come to dinner on Sunday?

# 3-5

In [54]:
# Oscar Wilde can't make it

In [60]:
message = "Unfortanetely, " + guests[0] + " can't make it to the dinner."

In [61]:
print(message)

Unfortanetely, Oscar Wilde can't make it to the dinner.

In [63]:
guests[0] = 'Ovid'

In [64]:
message = guests[0] + ", would you like to come to dinner on Sunday?"
print(message)

Ovid, would you like to come to dinner on Sunday?

In [65]:
message = guests[1] + ", would you like to come to dinner on Sunday?"
print(message)

Jane Austin, would you like to come to dinner on Sunday?

In [66]:
message = guests[2] + ", would you like to come to dinner on Sunday?"
print(message)

Ocean Vuong, would you like to come to dinner on Sunday?

In [67]:
message = guests[3] + ", would you like to come to dinner on Sunday?"
print(message)

Carmen Maria Machado, would you like to come to dinner on Sunday?

# 3-6

In [68]:
message = "I found a new table, so I can invite more of you now!"
print(message)

I found a new table, so I can invite more of you now!

In [69]:
guests.insert(0, 'Charle Dickens')

In [70]:
guests.insert(2, 'Catullus')

In [71]:
guests.append('Rick Riordan')

In [72]:
message = guests[0] + ", would you like to come to dinner on Sunday?"
print(message)

Charle Dickens, would you like to come to dinner on Sunday?

In [73]:
message = guests[1] + ", would you like to come to dinner on Sunday?"
print(message)

Ovid, would you like to come to dinner on Sunday?

In [74]:
message = guests[2] + ", would you like to come to dinner on Sunday?"
print(message)

Catullus, would you like to come to dinner on Sunday?

In [75]:
message = guests[3] + ", would you like to come to dinner on Sunday?"
print(message)

Jane Austin, would you like to come to dinner on Sunday?

In [76]:
message = guests[4] + ", would you like to come to dinner on Sunday?"
print(message)

Ocean Vuong, would you like to come to dinner on Sunday?

In [77]:
message = guests[5] + ", would you like to come to dinner on Sunday?"
print(message)

Carmen Maria Machado, would you like to come to dinner on Sunday?

In [94]:
message = guests[6] + ", would you like to come to dinner on Sunday?"
print(message)
# I accidentally pressed enter on this code after having done 3-7, 
# so there is an error message but it worked the first time.

IndexError: list index out of range

# 3-7

In [92]:
message = "Unfortantely, the table won't be here in time, so I can only invite 2 people."
print(message)

Unfortantely, the table won't be here in time, so I can only invite 2 people.

In [142]:
guests = ['Charles Dickens', 'Ovid', 'Catullus', 'Jane Austin', 'Ocean Vuong', 'Carmen Maria Machado', 'Rick Riordan']

In [143]:
print(guests)

['Charles Dickens', 'Ovid', 'Catullus', 'Jane Austin', 'Ocean Vuong', 'Carmen Maria Machado', 'Rick Riordan']

In [144]:
popped_guests = guests.pop(0)
print(guests)

['Ovid', 'Catullus', 'Jane Austin', 'Ocean Vuong', 'Carmen Maria Machado', 'Rick Riordan']

In [145]:
message = "I'm sorry, Charles Dickens, but I will have to retract my invitation."
print(message)

I'm sorry, Charles Dickens, but I will have to retract my invitation.

In [146]:
popped_guests = guests.pop(0)
print(guests)
message = "I'm sorry, Ovid, but I will have to retract my invitation."
print(message)

['Catullus', 'Jane Austin', 'Ocean Vuong', 'Carmen Maria Machado', 'Rick Riordan']
I'm sorry, Ovid, but I will have to retract my invitation.

In [147]:
popped_guests = guests.pop(0)
print(guests)
message = "I'm sorry, Catullus, but I will have to retract my invitation."
print(message)

['Jane Austin', 'Ocean Vuong', 'Carmen Maria Machado', 'Rick Riordan']
I'm sorry, Catullus, but I will have to retract my invitation.

In [148]:
popped_guests = guests.pop(0)
print(guests)
message = "I'm sorry, Jane Austin, but I will have to retract my invitation."
print(message)

['Ocean Vuong', 'Carmen Maria Machado', 'Rick Riordan']
I'm sorry, Jane Austin, but I will have to retract my invitation.

In [149]:
popped_guests = guests.pop(0)
print(guests)
message = "I'm sorry, Ocean Vuong, but I will have to retract my invitation."
print(message)

['Carmen Maria Machado', 'Rick Riordan']
I'm sorry, Ocean Vuong, but I will have to retract my invitation.

In [150]:
message = guests[1] + ", you are still invited to dinner!"
print(message)

Rick Riordan, you are still invited to dinner!

In [151]:
message = guests[0] + ", you are still invited to dinner!"
print(message)

Carmen Maria Machado, you are still invited to dinner!

In [152]:
del guests[0]

In [153]:
del guests[0]

In [154]:
print(guests)

[]

# 3-8

In [189]:
places = ['London', 'Kyoto', 'Rome', 'Taipei', 'Madrid']

In [161]:
print(places)

['London', 'Kyoto', 'Rome', 'Taipei', 'Madrid']

In [162]:
print(sorted(places))

['Kyoto', 'London', 'Madrid', 'Rome', 'Taipei']

In [177]:
print(places)

['London', 'Kyoto', 'Rome', 'Taipei', 'Madrid']

In [193]:
# I couldn't figure out how do reverse the list not permanently
# so I reversed it permanently (just went on to the next bullet point)
places.sort(reverse=True)
print(places)

['Taipei', 'Rome', 'Madrid', 'London', 'Kyoto']

In [190]:
print(places.sort(reverse=True))

None

In [191]:
print(places)

['Taipei', 'Rome', 'Madrid', 'London', 'Kyoto']

In [196]:
places.reverse()
print(places)

['Taipei', 'Rome', 'Madrid', 'London', 'Kyoto']

In [197]:
places.reverse()
print(places)

['Kyoto', 'London', 'Madrid', 'Rome', 'Taipei']

In [198]:
places.sort()
print(places)

['Kyoto', 'London', 'Madrid', 'Rome', 'Taipei']

In [199]:
places.reverse()
print(places)

['Taipei', 'Rome', 'Madrid', 'London', 'Kyoto']

# 4-1

In [200]:
pizzas = ['cheese', 'peperoni', 'mushroom']

In [212]:
for pizza in pizzas:
    print(pizza)

cheese
peperoni
mushroom

In [216]:
for pizza in pizzas:
    print(pizza.title() + " pizza is really good!")

Cheese pizza is really good!
Peperoni pizza is really good!
Mushroom pizza is really good!

In [223]:
pizzas = ['cheese', 'peperoni', 'mushroom']
for pizza in pizzas:
    print(pizza.title() + " pizza was at the birthday party last night.")
    print("It was really good!")

Cheese pizza was at the birthday party last night.
It was really good!
Peperoni pizza was at the birthday party last night.
It was really good!
Mushroom pizza was at the birthday party last night.
It was really good!

# 4-2

In [224]:
animals = ['dogs', 'cats', 'birds']

In [225]:
for animal in animals:
    print(animal)

dogs
cats
birds

In [226]:
for animal in animals:
    print(animal.title() + " are great pets!")

Dogs are great pets!
Cats are great pets!
Birds are great pets!

In [227]:
for animal in animals:
    print(animal.title() + " are great pets!")
    print("Turtles are great pets too!")

Dogs are great pets!
Turtles are great pets too!
Cats are great pets!
Turtles are great pets too!
Birds are great pets!
Turtles are great pets too!

# 4-3

In [228]:
for value in range (1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# 4-6

In [232]:
odd_numbers = list(range(-1,20,2))
print(odd_numbers)

[-1, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [237]:
for value in list(range(-1,20,2)):
    print(value)

-1
1
3
5
7
9
11
13
15
17
19

# 4-10

In [238]:
places = ['London', 'Kyoto', 'Rome', 'Taipei', 'Madrid']

In [239]:
print("The first three items on the list are ")
print(places[0:3])

The first three items on the list are
['London', 'Kyoto', 'Rome']

In [241]:
print("Three items from the middle of the list are:")
print(places[1:4])

Three items from the middle of the list are:
['Kyoto', 'Rome', 'Taipei']

In [243]:
print("The last three items in the list are:")
print(places[2:5])

The last three items in the list are:
['Rome', 'Taipei', 'Madrid']

# 4-11

In [255]:
pizzas = ['cheese', 'peperoni', 'mushroom']

In [259]:
friend_pizzas = ['cheese', 'peperoni', 'mushroom']

In [256]:
pizzas.insert(0, 'pesto chicken')

In [257]:
print(pizzas)

['pesto chicken', 'cheese', 'peperoni', 'mushroom']

In [260]:
print(friend_pizzas)

['cheese', 'peperoni', 'mushroom']

In [261]:
friend_pizzas.insert(0, 'buffalo chicken')

In [262]:
print("My favorite pizzas are:")
for pizza in pizzas:
    print(pizza.title())

My favorite pizzas are:
Pesto Chicken
Cheese
Peperoni
Mushroom

In [264]:
print("My favorite pizzas are:")
for friend_pizza in friend_pizzas:
    print(friend_pizza.title())

My favorite pizzas are:
Buffalo Chicken
Cheese
Peperoni
Mushroom